footer {
  height: fit-content;
  width: 100%;
  background-color: $main-color;
  // padding-top: 5rem;
  color: white;
  padding: 5rem 7rem;
  padding-bottom: 2rem;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.browse-topics {
  // padding-bottom: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.topics {
  width: 100%;
  padding: 3rem 0;
}

.all-topics {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  li {
    position: relative;
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      color: darken($main-color, 20%);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.founded {
  width: 35%;
  line-height: 1.5em;

  .italic {
    font-style: italic;
  }

  .line {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 3rem 10rem;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  img {
    width: 20%;
  }

  & > :first-child {
    transform: scale(1.3) translate(-3rem, -3rem);
  }

  & > :last-child {
    transform: scale(1.5) translate(5rem, -1rem);
  }

  .about {
    flex: 10;
    width: 60%;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      font-size: 1.1rem;

      li {
        padding: 0.5rem;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
