.headerOne {
  position: relative;
  inset: 0;
  display: grid;
  align-items: start;
  align-content: center;
  // flex-direction: row;
  grid-template-columns: 1fr 60% 5fr;
  background-color: $main-color;
  color: white;
  width: 100%;
  height: 7rem;
  padding: 2rem 3rem;

  &__logo > img {
    height: 5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    font: 1.3rem "Varela Round", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

    & > li {
      padding: 1rem;
      border-radius: 15px;
      margin: 0 auto;

      &:hover {
        background-color: darken($main-color, 10%);
        cursor: pointer;
      }
    }

    & > li:last-child {
      display: flex;
      flex-direction: row;
      background-color: darken($main-color, 10%);
      border: 1px solid darken($main-color, 15%);
      border-radius: 15px;
      padding-right: 2rem;
      box-shadow: 0 9px 30px -5px rgba(50, 50, 83, 0.25),
        0 8px 8px -12px rgba(0, 0, 0, 0.2), 0 -6px 16px -6px rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: darken($main-color, 20%);
      }

      & > span > img {
        height: 75%;
        padding: 0 0.5rem;
      }
    }
  }
  &__search-bar {
    height: 70%;
    width: 100%;

    & > div {
      position: relative;
      background: url(images/search.png);

      &::before {
        content: "🔍";
        color: darken($main-color, 20%);
        position: absolute;
        left: 4rem;
        top: 1rem;
        height: 100%;
        width: 100%;
        z-index: 10;
        font-size: 1.25rem;
      }
    }

    input {
      position: relative;
      height: 100%;
      font-size: 1.25rem;
      font-weight: bold;
      color: darken($main-color, 20%);
      width: 90%;
      border-radius: 15px;
      background-color: #fff;
      border: none;
      margin-left: 3rem;
      padding: 1rem;
      padding-left: 3rem;
      box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.3);

      &::placeholder {
        font-size: 1.25rem;
        font-weight: bold;
        color: darken($main-color, 20%);
      }
    }
  }
}

@media (max-width: 1250px) {
  .headerOne__navigation-links > ul > li:nth-last-child(2) {
    display: none;
  }
}

@media (max-width: 1065px) {
  .headerOne__navigation-links > ul > li:nth-last-child(3) {
    display: none;
  }

  .headerOne__search-bar > input::placeholder,
  .headerOne__ul {
    font-size: 1rem;
  }
  .headerOne {
    grid-template-columns: 1fr 40% 6fr;
  }
}

@media (max-width: 820px) {
  .headerOne__navigation-links > ul > li:nth-last-child(4) {
    display: none;
  }
}

@media (max-width: 775px) {
  .headerOne__navigation-links > ul > li:nth-last-child(5) {
    display: none;
  }
}

@media (max-width: 550px) {
  .headerOne__navigation-links > ul > li:nth-last-child(6) {
    display: none;
  }

  .headerOne {
    grid-template-columns: 20% 20% 50%;
    grid-gap: 1rem;
  }
}
